body {
    font-family: "Open Sans", sans-serif;
    color: #333333;
    background: linear-gradient(to right, #FFB6C1, #87CEEB);
    margin: 0;
  }
  
  h1 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }
  
  h2 {
    color: #000000;
  }
  
  p {
    line-height: 1.6;
  }
  
  .class1 {
    color: #FFD166;
  }
  
  .bouton {
    background: linear-gradient(to right, #FFD166, #FF6347);
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .bouton:hover {
    background: linear-gradient(to right, #FF6347, #FFD166);
  }
  
  .image-redimensionnee {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
  }
  
  header {
    background: linear-gradient(to right, #87CEEB, #FFB6C1);
    padding: 20px 0;
    text-align: center;
  }
  
  header img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  section {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background: linear-gradient(to right, #87CEEB, #FFB6C1);
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
  }
  
  footer ul {
    padding: 0;
    margin: 10px 0 0;
  }
  
  footer ul li {
    display: inline;
    margin-right: 10px;
  }
  
  footer ul li:last-child {
    margin-right: 0;
  }
  